<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" monitorInterval="30">
    <properties>
        <property name="FILE_NAME" value="${sys:user.home}/logs/main.log"/>
        <property name="FILE_NAME_INFO" value="${sys:user.home}/logs/info.log"/>
        <property name="FILE_NAME_WARN" value="${sys:user.home}/logs/warn.log"/>
        <property name="FILE_NAME_ERROR" value="${sys:user.home}/logs/error.log"/>

        <property name="PATTERN_INFO_PATH" value="${sys:user.home}/logs/info-%d{yyyy-MM-dd}-%i.log.gz"/>
        <property name="PATTERN_WARN_PATH" value="${sys:user.home}/logs/warn-%d{yyyy-MM-dd}-%i.log.gz"/>
        <property name="PATTERN_ERROR_PATH" value="${sys:user.home}/logs/error-%d{yyyy-MM-dd}-%i.log.gz"/>

        <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n"/>
    </properties>
    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
        </console>

        <File name="Filelog" fileName="${FILE_NAME}" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>

        <RollingFile name="RollingFileInfo" fileName="${FILE_NAME_INFO}" filePattern="${PATTERN_INFO_PATH}">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="RollingFileWarn" fileName="${FILE_NAME_WARN}" filePattern="${PATTERN_WARN_PATH}">
            <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <RollingFile name="RollingFileError" fileName="${FILE_NAME_ERROR}" filePattern="${PATTERN_ERROR_PATH}">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
    </appenders>

    <Loggers>
        <!--过滤掉spring和mybatis的一些无用的DEBUG信息-->
        <logger name="org.springframework" level="INFO"></logger>
        <logger name="org.mybatis" level="INFO"></logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Filelog"/>
            <AppenderRef ref="RollingFileInfo"/>
            <AppenderRef ref="RollingFileWarn"/>
            <AppenderRef ref="RollingFileError"/>
        </Root>
    </Loggers>

</configuration>